* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/**/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #eee;
    font-family: Arial, sans-serif;
    background-color: rgb(206, 243, 231);
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid #333;
    box-shadow: 0 20px 55px rgba(0, 0, 0, 5.0); 
    border-radius: 8px; 
    overflow: hidden;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece {
    pointer-events: none; 
}

.highlight {
    background-color: rgba(255, 105, 180, 0.5);
}

.info {
    text-align: center;
    margin-top: 20px;
}
